In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import io

churn = pd.read_csv('telecom_churn_data.csv')
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [3]:
temp = churn

In [4]:
#Assign churn column based on the usage done in 9th month
churn['churn'] = churn.apply(lambda x: 1 if (x['total_ic_mou_9'] == 0 and x['total_og_mou_9'] == 0 and x['vol_2g_mb_9'] == 0 and x['vol_3g_mb_9'] == 0) else 0, axis=1)
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,1
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,0
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,0
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [5]:
#drop last date columns as it is not giving any important data
churn.drop(columns=['last_date_of_month_6','last_date_of_month_7','last_date_of_month_8', 'last_date_of_month_9'], inplace=True)
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,109,0.0,0.0,0.0,197.385,214.816,213.803,21.100,NaN,...,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,1
1,7001865778,109,0.0,0.0,0.0,34.047,355.074,268.321,86.285,24.11,...,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,0
2,7001625959,109,0.0,0.0,0.0,167.690,189.058,210.226,290.714,11.54,...,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,0
3,7001204172,109,0.0,0.0,0.0,221.338,251.102,508.054,389.500,99.91,...,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,109,0.0,0.0,0.0,261.636,309.876,238.174,163.426,50.31,...,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [6]:
churn.nunique()

mobile_number       99999
circle_id               1
loc_og_t2o_mou          1
std_og_t2o_mou          1
loc_ic_t2o_mou          1
arpu_6              85681
arpu_7              85308
arpu_8              83615
arpu_9              79937
onnet_mou_6         24313
onnet_mou_7         24336
onnet_mou_8         24089
onnet_mou_9         23565
offnet_mou_6        31140
offnet_mou_7        31023
offnet_mou_8        30908
offnet_mou_9        30077
roam_ic_mou_6        6512
roam_ic_mou_7        5230
roam_ic_mou_8        5315
roam_ic_mou_9        4827
roam_og_mou_6        8038
roam_og_mou_7        6639
roam_og_mou_8        6504
roam_og_mou_9        5882
loc_og_t2t_mou_6    13539
loc_og_t2t_mou_7    13411
loc_og_t2t_mou_8    13336
loc_og_t2t_mou_9    12949
loc_og_t2m_mou_6    20905
                    ...
night_pck_user_6        2
night_pck_user_7        2
night_pck_user_8        2
night_pck_user_9        2
monthly_2g_6            5
monthly_2g_7            6
monthly_2g_8            6
monthly_2g_9            5
sachet_2g_6            32
sachet_2g_7            35
sachet_2g_8            34
sachet_2g_9            32
monthly_3g_6           12
monthly_3g_7           15
monthly_3g_8           12
monthly_3g_9           11
sachet_3g_6            25
sachet_3g_7            27
sachet_3g_8            29
sachet_3g_9            27
fb_user_6               2
fb_user_7               2
fb_user_8               2
fb_user_9               2
aon                  3489
aug_vbc_3g          14676
jul_vbc_3g          14162
jun_vbc_3g          13312
sep_vbc_3g           3720
churn                   2
Length: 223, dtype: int64

In [7]:
temp = pd.DataFrame(churn.nunique())
temp = temp.reset_index()
temp.rename(columns={0:"count", "index":"colName"}, inplace=True)
temp1 = temp.loc[temp['count'] < 2]
temp1

              colName  count
1           circle_id      1
2      loc_og_t2o_mou      1
3      std_og_t2o_mou      1
4      loc_ic_t2o_mou      1
57   std_og_t2c_mou_6      1
58   std_og_t2c_mou_7      1
59   std_og_t2c_mou_8      1
60   std_og_t2c_mou_9      1
109  std_ic_t2o_mou_6      1
110  std_ic_t2o_mou_7      1
111  std_ic_t2o_mou_8      1
112  std_ic_t2o_mou_9      1

In [8]:
#Deleting following columns as they have only 1 unique value, so not getting any information from these columns
colList = temp1.colName.tolist()
churn.drop(columns=colList, inplace=True)
churn.head()

,mobile_number,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,197.385,214.816,213.803,21.100,NaN,NaN,0.00,NaN,NaN,...,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,1
1,7001865778,34.047,355.074,268.321,86.285,24.11,78.68,7.68,18.34,15.74,...,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,0
2,7001625959,167.690,189.058,210.226,290.714,11.54,55.24,37.26,74.81,143.33,...,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,0
3,7001204172,221.338,251.102,508.054,389.500,99.91,54.39,310.98,241.71,123.31,...,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,261.636,309.876,238.174,163.426,50.31,149.44,83.89,58.78,76.96,...,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [9]:
#Delete the columns which ends with _9, as we dont need to analyze the last month data 
churn.drop(columns= [col for col in churn if col.endswith('_9')], inplace=True)
churn.head()

,mobile_number,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,...,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,197.385,214.816,213.803,NaN,NaN,0.00,NaN,NaN,0.00,...,0,1.0,1.0,1.0,968,30.4,0.0,101.20,3.58,1
1,7001865778,34.047,355.074,268.321,24.11,78.68,7.68,15.74,99.84,304.76,...,0,NaN,1.0,1.0,1006,0.0,0.0,0.00,0.00,0
2,7001625959,167.690,189.058,210.226,11.54,55.24,37.26,143.33,220.59,208.36,...,0,NaN,NaN,NaN,1103,0.0,0.0,4.17,0.00,0
3,7001204172,221.338,251.102,508.054,99.91,54.39,310.98,123.31,109.01,71.68,...,0,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,261.636,309.876,238.174,50.31,149.44,83.89,76.96,91.88,124.26,...,0,0.0,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [10]:
#Impute the data 

churn['total_rech_data_6'].fillna(value = 0, inplace=True)
churn['total_rech_data_7'].fillna(value = 0, inplace=True)
churn['total_rech_data_8'].fillna(value = 0, inplace=True)

churn['av_rech_amt_data_6'].fillna(value = 0, inplace=True)
churn['av_rech_amt_data_7'].fillna(value = 0, inplace=True)
churn['av_rech_amt_data_8'].fillna(value = 0, inplace=True)


churn['max_rech_data_6'].fillna(value = 0, inplace=True)
churn['max_rech_data_7'].fillna(value = 0, inplace=True)
churn['max_rech_data_8'].fillna(value = 0, inplace=True)

#Impute the data 
churn['night_pck_user_6'].fillna(value = -1, inplace=True)
churn['night_pck_user_7'].fillna(value = -1, inplace=True)
churn['night_pck_user_8'].fillna(value = -1, inplace=True)

churn['fb_user_6'].fillna(value = -1, inplace=True)
churn['fb_user_7'].fillna(value = -1, inplace=True)
churn['fb_user_8'].fillna(value = -1, inplace=True)

In [11]:
churn['total_rech_data_amt_6'] = churn['total_rech_data_6'] * churn['av_rech_amt_data_6']
churn['total_rech_data_amt_7'] = churn['total_rech_data_7'] * churn['av_rech_amt_data_7']
churn['total_rech_data_amt_8'] = churn['total_rech_data_8'] * churn['av_rech_amt_data_8']

churn['avg_total_rech_amt'] = (churn['total_rech_amt_6'] + churn['total_rech_amt_7'] + churn['total_rech_data_amt_6'] + churn['total_rech_data_amt_7'])/2

In [12]:
#threshold value for the revenue is 70 percentile
threshold_val = churn.avg_total_rech_amt.quantile(0.7)
threshold_val

478.0

In [13]:
#filter data based on the threshold value
churn = churn.loc[churn.avg_total_rech_amt > threshold_val]
churn.shape

(29953, 164)

In [14]:
#This will help us to identify, how many values are missing in each columns
# also lets define the threshold 50%, if values are less than this
# we need to decide, if is it good feature to keep ?

temp = pd.DataFrame((churn.isnull().sum(axis=0)/churn.shape[0])*100)
temp = temp.reset_index()
temp.rename(columns={0:"count", "index":"colName"}, inplace=True)
temp1 = temp.loc[temp['count'] > 10]
temp1

                      colName      count
106  date_of_last_rech_data_6  44.112443
107  date_of_last_rech_data_7  43.117551
108  date_of_last_rech_data_8  46.799987
115           count_rech_2g_6  44.112443
116           count_rech_2g_7  43.117551
117           count_rech_2g_8  46.799987
118           count_rech_3g_6  44.112443
119           count_rech_3g_7  43.117551
120           count_rech_3g_8  46.799987
130                 arpu_3g_6  44.112443
131                 arpu_3g_7  43.117551
132                 arpu_3g_8  46.799987
133                 arpu_2g_6  44.112443
134                 arpu_2g_7  43.117551
135                 arpu_2g_8  46.799987

In [15]:
colList = temp1.colName.tolist()
churn.drop(columns=colList, inplace=True)
churn.head()

,mobile_number,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,...,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn,total_rech_data_amt_6,total_rech_data_amt_7,total_rech_data_amt_8,avg_total_rech_amt
0,7000842753,197.385,214.816,213.803,NaN,NaN,0.00,NaN,NaN,0.00,...,968,30.40,0.00,101.20,3.58,1,252.0,252.0,252.0,559.0
7,7000701601,1069.180,1349.850,3171.480,57.84,54.68,52.29,453.43,567.16,325.91,...,802,57.74,19.38,18.74,0.00,1,0.0,0.0,0.0,1185.0
8,7001524846,378.721,492.223,137.362,413.69,351.03,35.08,94.66,80.63,136.48,...,315,21.03,910.65,122.16,0.00,0,0.0,354.0,207.0,696.0
21,7002124215,514.453,597.753,637.760,102.41,132.11,85.14,757.93,896.68,983.39,...,720,0.00,0.00,0.00,0.00,0,0.0,0.0,0.0,640.0
23,7000887461,74.350,193.897,366.966,48.96,50.66,33.58,85.41,89.36,205.89,...,604,40.45,51.86,0.00,0.00,0,0.0,712.0,540.0,583.0

In [16]:
churn.nunique()

mobile_number            29953
arpu_6                   29029
arpu_7                   29040
arpu_8                   28035
onnet_mou_6              16872
onnet_mou_7              16973
onnet_mou_8              15854
offnet_mou_6             21198
offnet_mou_7             21233
offnet_mou_8             20140
roam_ic_mou_6             4045
roam_ic_mou_7             3381
roam_ic_mou_8             3431
roam_og_mou_6             4742
roam_og_mou_7             3988
roam_og_mou_8             3996
loc_og_t2t_mou_6         10416
loc_og_t2t_mou_7         10388
loc_og_t2t_mou_8         10056
loc_og_t2m_mou_6         15607
loc_og_t2m_mou_7         15659
loc_og_t2m_mou_8         15118
loc_og_t2f_mou_6          3089
loc_og_t2f_mou_7          3097
loc_og_t2f_mou_8          2988
loc_og_t2c_mou_6          1682
loc_og_t2c_mou_7          1763
loc_og_t2c_mou_8          1720
loc_og_mou_6             18334
loc_og_mou_7             18493
                         ...
vol_3g_mb_7              10830
vol_3g_mb_8              10110
night_pck_user_6             3
night_pck_user_7             3
night_pck_user_8             3
monthly_2g_6                 5
monthly_2g_7                 6
monthly_2g_8                 6
sachet_2g_6                 31
sachet_2g_7                 35
sachet_2g_8                 34
monthly_3g_6                12
monthly_3g_7                15
monthly_3g_8                12
sachet_3g_6                 25
sachet_3g_7                 27
sachet_3g_8                 29
fb_user_6                    3
fb_user_7                    3
fb_user_8                    3
aon                       3294
aug_vbc_3g                9835
jul_vbc_3g               10002
jun_vbc_3g                9283
sep_vbc_3g                2634
churn                        2
total_rech_data_amt_6     1642
total_rech_data_amt_7     1746
total_rech_data_amt_8     1619
avg_total_rech_amt        5182
Length: 149, dtype: int64

In [17]:
temp = pd.DataFrame((churn.isnull().sum(axis=0)/churn.shape[0])*100)
temp = temp.reset_index()
temp.rename(columns={0:"count", "index":"colName"}, inplace=True)
temp1 = temp.loc[temp['count'] > 0]
temp1

                 colName     count
4            onnet_mou_6  1.809502
5            onnet_mou_7  1.789470
6            onnet_mou_8  3.912797
7           offnet_mou_6  1.809502
8           offnet_mou_7  1.789470
9           offnet_mou_8  3.912797
10         roam_ic_mou_6  1.809502
11         roam_ic_mou_7  1.789470
12         roam_ic_mou_8  3.912797
13         roam_og_mou_6  1.809502
14         roam_og_mou_7  1.789470
15         roam_og_mou_8  3.912797
16      loc_og_t2t_mou_6  1.809502
17      loc_og_t2t_mou_7  1.789470
18      loc_og_t2t_mou_8  3.912797
19      loc_og_t2m_mou_6  1.809502
20      loc_og_t2m_mou_7  1.789470
21      loc_og_t2m_mou_8  3.912797
22      loc_og_t2f_mou_6  1.809502
23      loc_og_t2f_mou_7  1.789470
24      loc_og_t2f_mou_8  3.912797
25      loc_og_t2c_mou_6  1.809502
26      loc_og_t2c_mou_7  1.789470
27      loc_og_t2c_mou_8  3.912797
28          loc_og_mou_6  1.809502
29          loc_og_mou_7  1.789470
30          loc_og_mou_8  3.912797
31      std_og_t2t_mou_6  1.809502
32      std_og_t2t_mou_7  1.789470
33      std_og_t2t_mou_8  3.912797
..                   ...       ...
61      loc_ic_t2f_mou_6  1.809502
62      loc_ic_t2f_mou_7  1.789470
63      loc_ic_t2f_mou_8  3.912797
64          loc_ic_mou_6  1.809502
65          loc_ic_mou_7  1.789470
66          loc_ic_mou_8  3.912797
67      std_ic_t2t_mou_6  1.809502
68      std_ic_t2t_mou_7  1.789470
69      std_ic_t2t_mou_8  3.912797
70      std_ic_t2m_mou_6  1.809502
71      std_ic_t2m_mou_7  1.789470
72      std_ic_t2m_mou_8  3.912797
73      std_ic_t2f_mou_6  1.809502
74      std_ic_t2f_mou_7  1.789470
75      std_ic_t2f_mou_8  3.912797
76          std_ic_mou_6  1.809502
77          std_ic_mou_7  1.789470
78          std_ic_mou_8  3.912797
82          spl_ic_mou_6  1.809502
83          spl_ic_mou_7  1.789470
84          spl_ic_mou_8  3.912797
85          isd_ic_mou_6  1.809502
86          isd_ic_mou_7  1.789470
87          isd_ic_mou_8  3.912797
88           ic_others_6  1.809502
89           ic_others_7  1.789470
90           ic_others_8  3.912797
100  date_of_last_rech_6  0.243715
101  date_of_last_rech_7  0.327179
102  date_of_last_rech_8  1.943044

[84 rows x 2 columns]

In [18]:
churn.fillna(0, inplace=True)

In [19]:
# Doing categorical variable analysis for 'fb_user_6' column

fb_user_6_postive_one_rows = churn.loc[churn['fb_user_6'] == 1.0]

positive_one_churn_fraction = fb_user_6_postive_one_rows["churn"].sum()/fb_user_6_postive_one_rows["churn"].count()

churn.loc[churn['fb_user_6'] == 1.0, ['fb_user_6']] = positive_one_churn_fraction.round(5)

# churn['fb_user_6'].head(100)

In [20]:
fb_user_6_zero_rows = churn.loc[churn['fb_user_6'] == 0.0]

zero_churn_fraction = fb_user_6_zero_rows["churn"].sum()/fb_user_6_zero_rows["churn"].count()

churn.loc[churn['fb_user_6'] == 0.0, ['fb_user_6']] = zero_churn_fraction.round(5)

# churn['fb_user_6'].head(100)

In [21]:
fb_user_6_negative_one_rows = churn.loc[churn['fb_user_6'] == -1.0]

negative_one_churn_fraction = fb_user_6_negative_one_rows["churn"].sum()/fb_user_6_negative_one_rows["churn"].count()

churn.loc[churn['fb_user_6'] == -1.0, ['fb_user_6']] = negative_one_churn_fraction.round(5)

# churn['fb_user_6'].head(100)

In [22]:
# Doing categorical variable analysis for 'fb_user_7' column

fb_user_7_postive_one_rows = churn.loc[churn['fb_user_7'] == 1.0]

positive_one_churn_fraction = fb_user_7_postive_one_rows["churn"].sum()/fb_user_7_postive_one_rows["churn"].count()

churn.loc[churn['fb_user_7'] == 1.0, ['fb_user_7']] = positive_one_churn_fraction.round(5)

# churn['fb_user_7'].head(100)

In [23]:
fb_user_7_zero_rows = churn.loc[churn['fb_user_7'] == 0.0]

zero_churn_fraction = fb_user_7_zero_rows["churn"].sum()/fb_user_7_zero_rows["churn"].count()

churn.loc[churn['fb_user_7'] == 0.0, ['fb_user_7']] = zero_churn_fraction.round(5)

# churn['fb_user_7'].head(100)

In [24]:
fb_user_7_negative_one_rows = churn.loc[churn['fb_user_7'] == -1.0]

negative_one_churn_fraction = fb_user_7_negative_one_rows["churn"].sum()/fb_user_7_negative_one_rows["churn"].count()

churn.loc[churn['fb_user_7'] == -1.0, ['fb_user_7']] = negative_one_churn_fraction.round(5)

# churn['fb_user_7'].head(100)

In [25]:
# Doing categorical variable analysis for 'fb_user_8' column

fb_user_8_postive_one_rows = churn.loc[churn['fb_user_8'] == 1.0]

positive_one_churn_fraction = fb_user_8_postive_one_rows["churn"].sum()/fb_user_8_postive_one_rows["churn"].count()

churn.loc[churn['fb_user_8'] == 1.0, ['fb_user_8']] = positive_one_churn_fraction.round(5)

# churn['fb_user_8'].head(100)

In [26]:
fb_user_8_zero_rows = churn.loc[churn['fb_user_8'] == 0.0]

zero_churn_fraction = fb_user_8_zero_rows["churn"].sum()/fb_user_8_zero_rows["churn"].count()

churn.loc[churn['fb_user_8'] == 0.0, ['fb_user_8']] = zero_churn_fraction.round(5)

# churn['fb_user_8'].head(100)

In [27]:
fb_user_8_negative_one_rows = churn.loc[churn['fb_user_8'] == -1.0]

negative_one_churn_fraction = fb_user_8_negative_one_rows["churn"].sum()/fb_user_8_negative_one_rows["churn"].count()

churn.loc[churn['fb_user_8'] == -1.0, ['fb_user_8']] = negative_one_churn_fraction.round(5)

# churn['fb_user_8'].head(100)

In [28]:
# Doing categorical variable analysis for 'night_pck_user_6' column

night_pck_user_6_postive_one_rows = churn.loc[churn['night_pck_user_6'] == 1.0]

positive_one_churn_fraction = night_pck_user_6_postive_one_rows["churn"].sum()/night_pck_user_6_postive_one_rows["churn"].count()

churn.loc[churn['night_pck_user_6'] == 1.0, ['night_pck_user_6']] = positive_one_churn_fraction.round(5)

# churn['night_pck_user_6'].head(100)

In [29]:
night_pck_user_6_zero_rows = churn.loc[churn['night_pck_user_6'] == 0.0]

zero_churn_fraction = night_pck_user_6_zero_rows["churn"].sum()/night_pck_user_6_zero_rows["churn"].count()

churn.loc[churn['night_pck_user_6'] == 0.0, ['night_pck_user_6']] = zero_churn_fraction.round(5)

# churn['night_pck_user_6'].head(100)

In [30]:
night_pck_user_6_negative_one_rows = churn.loc[churn['night_pck_user_6'] == -1.0]

negative_one_churn_fraction = night_pck_user_6_negative_one_rows["churn"].sum()/night_pck_user_6_negative_one_rows["churn"].count()

churn.loc[churn['night_pck_user_6'] == -1.0, ['night_pck_user_6']] = negative_one_churn_fraction.round(5)

# churn['night_pck_user_6'].head(100)

In [31]:
# Doing categorical variable analysis for 'night_pck_user_7' column

night_pck_user_7_postive_one_rows = churn.loc[churn['night_pck_user_7'] == 1.0]

positive_one_churn_fraction = night_pck_user_7_postive_one_rows["churn"].sum()/night_pck_user_7_postive_one_rows["churn"].count()

churn.loc[churn['night_pck_user_7'] == 1.0, ['night_pck_user_7']] = positive_one_churn_fraction.round(5)

# churn['night_pck_user_7'].head(100)

In [32]:
night_pck_user_7_zero_rows = churn.loc[churn['night_pck_user_7'] == 0.0]

zero_churn_fraction = night_pck_user_7_zero_rows["churn"].sum()/night_pck_user_7_zero_rows["churn"].count()

churn.loc[churn['night_pck_user_7'] == 0.0, ['night_pck_user_7']] = zero_churn_fraction.round(5)

# churn['night_pck_user_7'].head(100)

In [33]:
night_pck_user_7_negative_one_rows = churn.loc[churn['night_pck_user_7'] == -1.0]

negative_one_churn_fraction = night_pck_user_7_negative_one_rows["churn"].sum()/night_pck_user_7_negative_one_rows["churn"].count()

churn.loc[churn['night_pck_user_7'] == -1.0, ['night_pck_user_7']] = negative_one_churn_fraction.round(5)

# churn['night_pck_user_7'].head(1000)

In [34]:
# Doing categorical variable analysis for 'night_pck_user_8' column

night_pck_user_8_postive_one_rows = churn.loc[churn['night_pck_user_8'] == 1.0]

positive_one_churn_fraction = night_pck_user_8_postive_one_rows["churn"].sum()/night_pck_user_8_postive_one_rows["churn"].count()

churn.loc[churn['night_pck_user_8'] == 1.0, ['night_pck_user_8']] = positive_one_churn_fraction.round(5)

#churn['night_pck_user_8'].head(1000)

In [35]:
night_pck_user_8_zero_rows = churn.loc[churn['night_pck_user_8'] == 0.0]

zero_churn_fraction = night_pck_user_8_zero_rows["churn"].sum()/night_pck_user_8_zero_rows["churn"].count()

churn.loc[churn['night_pck_user_8'] == 0.0, ['night_pck_user_8']] = zero_churn_fraction.round(5)

#churn['night_pck_user_8'].head(1000)

In [36]:
night_pck_user_8_negative_one_rows = churn.loc[churn['night_pck_user_8'] == -1.0]

negative_one_churn_fraction = night_pck_user_8_negative_one_rows["churn"].sum()/night_pck_user_8_negative_one_rows["churn"].count()

churn.loc[churn['night_pck_user_8'] == -1.0, ['night_pck_user_8']] = negative_one_churn_fraction.round(5)

#churn['night_pck_user_8'].head(1000)

In [37]:
churn1 = churn.select_dtypes(include=[np.float64, np.int64])

churn1.shape

(29953, 146)

In [38]:
churn1.isnull().sum()

mobile_number            0
arpu_6                   0
arpu_7                   0
arpu_8                   0
onnet_mou_6              0
onnet_mou_7              0
onnet_mou_8              0
offnet_mou_6             0
offnet_mou_7             0
offnet_mou_8             0
roam_ic_mou_6            0
roam_ic_mou_7            0
roam_ic_mou_8            0
roam_og_mou_6            0
roam_og_mou_7            0
roam_og_mou_8            0
loc_og_t2t_mou_6         0
loc_og_t2t_mou_7         0
loc_og_t2t_mou_8         0
loc_og_t2m_mou_6         0
loc_og_t2m_mou_7         0
loc_og_t2m_mou_8         0
loc_og_t2f_mou_6         0
loc_og_t2f_mou_7         0
loc_og_t2f_mou_8         0
loc_og_t2c_mou_6         0
loc_og_t2c_mou_7         0
loc_og_t2c_mou_8         0
loc_og_mou_6             0
loc_og_mou_7             0
                        ..
vol_3g_mb_7              0
vol_3g_mb_8              0
night_pck_user_6         0
night_pck_user_7         0
night_pck_user_8         0
monthly_2g_6             0
monthly_2g_7             0
monthly_2g_8             0
sachet_2g_6              0
sachet_2g_7              0
sachet_2g_8              0
monthly_3g_6             0
monthly_3g_7             0
monthly_3g_8             0
sachet_3g_6              0
sachet_3g_7              0
sachet_3g_8              0
fb_user_6                0
fb_user_7                0
fb_user_8                0
aon                      0
aug_vbc_3g               0
jul_vbc_3g               0
jun_vbc_3g               0
sep_vbc_3g               0
churn                    0
total_rech_data_amt_6    0
total_rech_data_amt_7    0
total_rech_data_amt_8    0
avg_total_rech_amt       0
Length: 146, dtype: int64

In [39]:
normalized_churn=(churn1-churn1.mean())/churn1.std()

In [40]:
temp = pd.DataFrame((normalized_churn.isnull().sum(axis=0)/normalized_churn.shape[0])*100)
temp = temp.reset_index()
temp.rename(columns={0:"count", "index":"colName"}, inplace=True)
temp1 = temp.loc[temp['count'] > 1]
temp1

Empty DataFrame
Columns: [colName, count]
Index: []

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

y = normalized_churn['churn']

X = normalized_churn.drop(['churn', "mobile_number"],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7,test_size=0.3,random_state=100)

X_train.head()

,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,...,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_data_amt_6,total_rech_data_amt_7,total_rech_data_amt_8,avg_total_rech_amt
16686,0.025072,0.643452,0.295810,-0.101600,-0.146765,-0.192665,0.418799,0.776892,1.818390,3.271184,...,1.050719,-0.742891,-0.40196,-0.403504,-0.380662,-0.153355,-0.321464,-0.358106,-0.285521,-0.217502
84709,0.452496,-0.857850,-0.960660,0.244054,-0.429545,-0.501874,0.838676,-0.464446,-0.689716,-0.211201,...,1.050719,-1.065623,-0.40196,-0.403504,-0.380662,-0.153355,-0.321464,-0.358106,-0.285521,-0.486712
33699,-0.826657,-0.926473,-0.679675,-0.565226,-0.557547,-0.499738,-0.699983,-0.740582,-0.544608,-0.211201,...,-1.003029,-0.338692,-0.40196,-0.403504,-0.380662,-0.153355,0.610413,0.205837,0.099369,0.071200
25535,0.979690,0.486989,0.698290,2.761923,2.557193,2.696592,0.045658,-0.363472,0.016218,-0.211201,...,1.050719,-0.971624,-0.40196,-0.403504,-0.380662,-0.153355,-0.321464,-0.358106,-0.285521,-0.040971
49976,-0.909978,-1.029361,-0.650999,-0.522212,-0.540017,-0.454179,-0.538458,-0.648263,-0.303605,-0.211201,...,-1.003029,-0.579958,2.81699,0.227044,-0.380662,4.498526,0.112426,0.058927,-0.190684,-0.319375

In [43]:
pca = PCA(0.90)

In [44]:
df_train_pca2 = pca.fit_transform(X_train)
df_train_pca2.shape

(20967, 53)

In [45]:
learner_pca2 = LogisticRegression()
model_pca2 = learner_pca2.fit(df_train_pca2,y_train)

ValueError: Unknown label type: 'continuous'

In [ ]:
df_test_pca2 = pca.transform(X_test)
df_test_pca2.shape

In [ ]:
pred_probs_test2 = model_pca2.predict_proba(df_test_pca2)[:,1]
"{:2.2f}".format(metrics.roc_auc_score(y_test, pred_probs_test2))