In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
import io

churn = pd.read_csv('telecom_churn_data.csv')
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [21]:
temp = churn

In [22]:
#Assign churn column based on the usage done in 9th month
churn['churn'] = churn.apply(lambda x: 1 if (x['total_ic_mou_9'] == 0 and x['total_og_mou_9'] == 0 and x['vol_2g_mb_9'] == 0 and x['vol_3g_mb_9'] == 0) else 0, axis=1)
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,1
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,0
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,0
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [23]:
#drop last date columns as it is not giving any important data
churn.drop(columns=['last_date_of_month_6','last_date_of_month_7','last_date_of_month_8', 'last_date_of_month_9'], inplace=True)
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,109,0.0,0.0,0.0,197.385,214.816,213.803,21.100,NaN,...,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,1
1,7001865778,109,0.0,0.0,0.0,34.047,355.074,268.321,86.285,24.11,...,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,0
2,7001625959,109,0.0,0.0,0.0,167.690,189.058,210.226,290.714,11.54,...,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,0
3,7001204172,109,0.0,0.0,0.0,221.338,251.102,508.054,389.500,99.91,...,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,109,0.0,0.0,0.0,261.636,309.876,238.174,163.426,50.31,...,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [24]:
churn.nunique()

mobile_number       99999
circle_id               1
loc_og_t2o_mou          1
std_og_t2o_mou          1
loc_ic_t2o_mou          1
arpu_6              85681
arpu_7              85308
arpu_8              83615
arpu_9              79937
onnet_mou_6         24313
onnet_mou_7         24336
onnet_mou_8         24089
onnet_mou_9         23565
offnet_mou_6        31140
offnet_mou_7        31023
offnet_mou_8        30908
offnet_mou_9        30077
roam_ic_mou_6        6512
roam_ic_mou_7        5230
roam_ic_mou_8        5315
roam_ic_mou_9        4827
roam_og_mou_6        8038
roam_og_mou_7        6639
roam_og_mou_8        6504
roam_og_mou_9        5882
loc_og_t2t_mou_6    13539
loc_og_t2t_mou_7    13411
loc_og_t2t_mou_8    13336
loc_og_t2t_mou_9    12949
loc_og_t2m_mou_6    20905
                    ...
night_pck_user_6        2
night_pck_user_7        2
night_pck_user_8        2
night_pck_user_9        2
monthly_2g_6            5
monthly_2g_7            6
monthly_2g_8            6
monthly_2g_9            5
sachet_2g_6            32
sachet_2g_7            35
sachet_2g_8            34
sachet_2g_9            32
monthly_3g_6           12
monthly_3g_7           15
monthly_3g_8           12
monthly_3g_9           11
sachet_3g_6            25
sachet_3g_7            27
sachet_3g_8            29
sachet_3g_9            27
fb_user_6               2
fb_user_7               2
fb_user_8               2
fb_user_9               2
aon                  3489
aug_vbc_3g          14676
jul_vbc_3g          14162
jun_vbc_3g          13312
sep_vbc_3g           3720
churn                   2
Length: 223, dtype: int64

In [25]:
#Deleting following columns as they have only 1 unique value, so not getting any information from these columns
churn.drop(columns=['circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou','loc_ic_t2o_mou'], inplace=True)
churn.head()

,mobile_number,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,197.385,214.816,213.803,21.100,NaN,NaN,0.00,NaN,NaN,...,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,1
1,7001865778,34.047,355.074,268.321,86.285,24.11,78.68,7.68,18.34,15.74,...,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,0
2,7001625959,167.690,189.058,210.226,290.714,11.54,55.24,37.26,74.81,143.33,...,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,0
3,7001204172,221.338,251.102,508.054,389.500,99.91,54.39,310.98,241.71,123.31,...,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,261.636,309.876,238.174,163.426,50.31,149.44,83.89,58.78,76.96,...,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [26]:
#Delete the columns which ends with _9, as we dont need to analyze the last month data 
churn.drop(columns= [col for col in churn if col.endswith('_9')], inplace=True)
churn.head()

,mobile_number,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,...,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,197.385,214.816,213.803,NaN,NaN,0.00,NaN,NaN,0.00,...,0,1.0,1.0,1.0,968,30.4,0.0,101.20,3.58,1
1,7001865778,34.047,355.074,268.321,24.11,78.68,7.68,15.74,99.84,304.76,...,0,NaN,1.0,1.0,1006,0.0,0.0,0.00,0.00,0
2,7001625959,167.690,189.058,210.226,11.54,55.24,37.26,143.33,220.59,208.36,...,0,NaN,NaN,NaN,1103,0.0,0.0,4.17,0.00,0
3,7001204172,221.338,251.102,508.054,99.91,54.39,310.98,123.31,109.01,71.68,...,0,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,261.636,309.876,238.174,50.31,149.44,83.89,76.96,91.88,124.26,...,0,0.0,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [27]:
#This will help us to identify, how many values are missing in each columns
# also lets define the threshold 50%, if values are less than this
# we need to decide, if is it good feature to keep ?

temp = pd.DataFrame((churn.isnull().sum(axis=0)/churn.shape[0])*100)
temp = temp.reset_index()
temp.rename(columns={0:"count", "index":"colName"}, inplace=True)
temp1 = temp.loc[temp['count'] > 50]
temp1

                      colName      count
112  date_of_last_rech_data_6  74.846748
113  date_of_last_rech_data_7  74.428744
114  date_of_last_rech_data_8  73.660737
115         total_rech_data_6  74.846748
116         total_rech_data_7  74.428744
117         total_rech_data_8  73.660737
118           max_rech_data_6  74.846748
119           max_rech_data_7  74.428744
120           max_rech_data_8  73.660737
121           count_rech_2g_6  74.846748
122           count_rech_2g_7  74.428744
123           count_rech_2g_8  73.660737
124           count_rech_3g_6  74.846748
125           count_rech_3g_7  74.428744
126           count_rech_3g_8  73.660737
127        av_rech_amt_data_6  74.846748
128        av_rech_amt_data_7  74.428744
129        av_rech_amt_data_8  73.660737
136                 arpu_3g_6  74.846748
137                 arpu_3g_7  74.428744
138                 arpu_3g_8  73.660737
139                 arpu_2g_6  74.846748
140                 arpu_2g_7  74.428744
141                 arpu_2g_8  73.660737
142          night_pck_user_6  74.846748
143          night_pck_user_7  74.428744
144          night_pck_user_8  73.660737
157                 fb_user_6  74.846748
158                 fb_user_7  74.428744
159                 fb_user_8  73.660737

In [28]:
#Impute the data 
churn['total_rech_data_6'].fillna(value = 0, inplace=True)
churn['total_rech_data_7'].fillna(value = 0, inplace=True)
churn['total_rech_data_8'].fillna(value = 0, inplace=True)

churn['av_rech_amt_data_6'].fillna(value = 0, inplace=True)
churn['av_rech_amt_data_7'].fillna(value = 0, inplace=True)
churn['av_rech_amt_data_8'].fillna(value = 0, inplace=True)


churn['max_rech_data_6'].fillna(value = 0, inplace=True)
churn['max_rech_data_7'].fillna(value = 0, inplace=True)
churn['max_rech_data_8'].fillna(value = 0, inplace=True)

In [29]:
#This will help us to identify, how many values are missing in each columns
# also lets define the threshold 50%, if values are less than this
# we need to decide, if is it good feature to keep ?

temp = pd.DataFrame((churn.isnull().sum(axis=0)/churn.shape[0])*100)
temp = temp.reset_index()
temp.rename(columns={0:"count", "index":"colName"}, inplace=True)
temp1 = temp.loc[temp['count'] > 50]
temp1

                      colName      count
112  date_of_last_rech_data_6  74.846748
113  date_of_last_rech_data_7  74.428744
114  date_of_last_rech_data_8  73.660737
121           count_rech_2g_6  74.846748
122           count_rech_2g_7  74.428744
123           count_rech_2g_8  73.660737
124           count_rech_3g_6  74.846748
125           count_rech_3g_7  74.428744
126           count_rech_3g_8  73.660737
136                 arpu_3g_6  74.846748
137                 arpu_3g_7  74.428744
138                 arpu_3g_8  73.660737
139                 arpu_2g_6  74.846748
140                 arpu_2g_7  74.428744
141                 arpu_2g_8  73.660737
142          night_pck_user_6  74.846748
143          night_pck_user_7  74.428744
144          night_pck_user_8  73.660737
157                 fb_user_6  74.846748
158                 fb_user_7  74.428744
159                 fb_user_8  73.660737

In [30]:
#Impute the data 
churn['night_pck_user_6'].fillna(value = -1, inplace=True)
churn['night_pck_user_7'].fillna(value = -1, inplace=True)
churn['night_pck_user_8'].fillna(value = -1, inplace=True)

churn['fb_user_6'].fillna(value = -1, inplace=True)
churn['fb_user_7'].fillna(value = -1, inplace=True)
churn['fb_user_8'].fillna(value = -1, inplace=True)

In [31]:
#This will help us to identify, how many values are missing in each columns
# also lets define the threshold 50%, if values are less than this
# we need to decide, if is it good feature to keep ?

temp = pd.DataFrame((churn.isnull().sum(axis=0)/churn.shape[0])*100)
temp = temp.reset_index()
temp.rename(columns={0:"count", "index":"colName"}, inplace=True)
temp1 = temp.loc[temp['count'] > 50]
temp1

                      colName      count
112  date_of_last_rech_data_6  74.846748
113  date_of_last_rech_data_7  74.428744
114  date_of_last_rech_data_8  73.660737
121           count_rech_2g_6  74.846748
122           count_rech_2g_7  74.428744
123           count_rech_2g_8  73.660737
124           count_rech_3g_6  74.846748
125           count_rech_3g_7  74.428744
126           count_rech_3g_8  73.660737
136                 arpu_3g_6  74.846748
137                 arpu_3g_7  74.428744
138                 arpu_3g_8  73.660737
139                 arpu_2g_6  74.846748
140                 arpu_2g_7  74.428744
141                 arpu_2g_8  73.660737

In [32]:
#create new column for average revenue per user for 6th and 7th month
# churn['avg_arpu'] = (churn['arpu_6'] + churn['arpu_7'])/2
# churn.head()

churn['avg_total_rech_amt'] = (churn['total_rech_amt_6'] + churn['total_rech_amt_7'])/2

# churn['total_rech_amnt']

In [33]:
#threshold value for the revenue is 70 percentile
threshold_val = churn.avg_total_rech_amt.quantile(0.7)
threshold_val

368.5

In [34]:
#filter data based on the threshold value
churn = churn.loc[churn.avg_total_rech_amt >= threshold_val]
churn.shape

(30011, 167)

In [35]:
#This will help us to identify, how many values are missing in each columns
# also lets define the threshold 50%, if values are less than this
# we need to decide, if is it good feature to keep ?

temp = pd.DataFrame((churn.isnull().sum(axis=0)/churn.shape[0])*100)
temp = temp.reset_index()
temp.rename(columns={0:"count", "index":"colName"}, inplace=True)
temp1 = temp.loc[temp['count'] > 50]
#temp

In [36]:
temp1.colName

112    date_of_last_rech_data_6
113    date_of_last_rech_data_7
114    date_of_last_rech_data_8
121             count_rech_2g_6
122             count_rech_2g_7
123             count_rech_2g_8
124             count_rech_3g_6
125             count_rech_3g_7
126             count_rech_3g_8
136                   arpu_3g_6
137                   arpu_3g_7
138                   arpu_3g_8
139                   arpu_2g_6
140                   arpu_2g_7
141                   arpu_2g_8
Name: colName, dtype: object

In [37]:
colList = temp1.colName.tolist()

In [38]:
type(colList)

list

In [39]:
churn.drop(columns=colList, inplace=True)
churn.head()

,mobile_number,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,...,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn,avg_total_rech_amt
7,7000701601,1069.180,1349.850,3171.480,57.84,54.68,52.29,453.43,567.16,325.91,...,-1.0,-1.0,-1.0,802,57.74,19.38,18.74,0.0,1,1185.0
8,7001524846,378.721,492.223,137.362,413.69,351.03,35.08,94.66,80.63,136.48,...,-1.0,1.0,1.0,315,21.03,910.65,122.16,0.0,0,519.0
13,7002191713,492.846,205.671,593.260,501.76,108.39,534.24,413.31,119.28,482.46,...,-1.0,-1.0,1.0,2607,0.00,0.00,0.00,0.0,0,380.0
16,7000875565,430.975,299.869,187.894,50.51,74.01,70.61,296.29,229.74,162.76,...,-1.0,-1.0,-1.0,511,0.00,2.45,21.89,0.0,0,459.0
17,7000187447,690.008,18.980,25.499,1185.91,9.28,7.79,61.64,0.00,5.54,...,-1.0,-1.0,-1.0,667,0.00,0.00,0.00,0.0,0,408.0

In [40]:
churn.nunique()

mobile_number         30011
arpu_6                29261
arpu_7                29260
arpu_8                28405
onnet_mou_6           18813
onnet_mou_7           18938
onnet_mou_8           17604
offnet_mou_6          22454
offnet_mou_7          22650
offnet_mou_8          21513
roam_ic_mou_6          4338
roam_ic_mou_7          3649
roam_ic_mou_8          3655
roam_og_mou_6          5174
roam_og_mou_7          4431
roam_og_mou_8          4382
loc_og_t2t_mou_6      11151
loc_og_t2t_mou_7      11154
loc_og_t2t_mou_8      10772
loc_og_t2m_mou_6      16747
loc_og_t2m_mou_7      16872
loc_og_t2m_mou_8      16165
loc_og_t2f_mou_6       3252
loc_og_t2f_mou_7       3267
loc_og_t2f_mou_8       3124
loc_og_t2c_mou_6       1658
loc_og_t2c_mou_7       1750
loc_og_t2c_mou_8       1730
loc_og_mou_6          19691
loc_og_mou_7          19880
                      ...
vol_2g_mb_7            7813
vol_2g_mb_8            7310
vol_3g_mb_6            7043
vol_3g_mb_7            7440
vol_3g_mb_8            7151
night_pck_user_6          3
night_pck_user_7          3
night_pck_user_8          3
monthly_2g_6              5
monthly_2g_7              6
monthly_2g_8              6
sachet_2g_6              30
sachet_2g_7              34
sachet_2g_8              34
monthly_3g_6             12
monthly_3g_7             15
monthly_3g_8             12
sachet_3g_6              25
sachet_3g_7              27
sachet_3g_8              29
fb_user_6                 3
fb_user_7                 3
fb_user_8                 3
aon                    3321
aug_vbc_3g             7291
jul_vbc_3g             7318
jun_vbc_3g             6864
sep_vbc_3g             2171
churn                     2
avg_total_rech_amt     3025
Length: 152, dtype: int64

In [41]:
churn.columns

Index(['mobile_number', 'arpu_6', 'arpu_7', 'arpu_8', 'onnet_mou_6',
       'onnet_mou_7', 'onnet_mou_8', 'offnet_mou_6', 'offnet_mou_7',
       'offnet_mou_8',
       ...
       'fb_user_6', 'fb_user_7', 'fb_user_8', 'aon', 'aug_vbc_3g',
       'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g', 'churn',
       'avg_total_rech_amt'],
      dtype='object', length=152)

In [42]:
churn.columns.values

array(['mobile_number', 'arpu_6', 'arpu_7', 'arpu_8', 'onnet_mou_6',
       'onnet_mou_7', 'onnet_mou_8', 'offnet_mou_6', 'offnet_mou_7',
       'offnet_mou_8', 'roam_ic_mou_6', 'roam_ic_mou_7', 'roam_ic_mou_8',
       'roam_og_mou_6', 'roam_og_mou_7', 'roam_og_mou_8',
       'loc_og_t2t_mou_6', 'loc_og_t2t_mou_7', 'loc_og_t2t_mou_8',
       'loc_og_t2m_mou_6', 'loc_og_t2m_mou_7', 'loc_og_t2m_mou_8',
       'loc_og_t2f_mou_6', 'loc_og_t2f_mou_7', 'loc_og_t2f_mou_8',
       'loc_og_t2c_mou_6', 'loc_og_t2c_mou_7', 'loc_og_t2c_mou_8',
       'loc_og_mou_6', 'loc_og_mou_7', 'loc_og_mou_8', 'std_og_t2t_mou_6',
       'std_og_t2t_mou_7', 'std_og_t2t_mou_8', 'std_og_t2m_mou_6',
       'std_og_t2m_mou_7', 'std_og_t2m_mou_8', 'std_og_t2f_mou_6',
       'std_og_t2f_mou_7', 'std_og_t2f_mou_8', 'std_og_t2c_mou_6',
       'std_og_t2c_mou_7', 'std_og_t2c_mou_8', 'std_og_mou_6',
       'std_og_mou_7', 'std_og_mou_8', 'isd_og_mou_6', 'isd_og_mou_7',
       'isd_og_mou_8', 'spl_og_mou_6', 'spl_og_mou_7', 'spl_og_mou_8',
       'og_others_6', 'og_others_7', 'og_others_8', 'total_og_mou_6',
       'total_og_mou_7', 'total_og_mou_8', 'loc_ic_t2t_mou_6',
       'loc_ic_t2t_mou_7', 'loc_ic_t2t_mou_8', 'loc_ic_t2m_mou_6',
       'loc_ic_t2m_mou_7', 'loc_ic_t2m_mou_8', 'loc_ic_t2f_mou_6',
       'loc_ic_t2f_mou_7', 'loc_ic_t2f_mou_8', 'loc_ic_mou_6',
       'loc_ic_mou_7', 'loc_ic_mou_8', 'std_ic_t2t_mou_6',
       'std_ic_t2t_mou_7', 'std_ic_t2t_mou_8', 'std_ic_t2m_mou_6',
       'std_ic_t2m_mou_7', 'std_ic_t2m_mou_8', 'std_ic_t2f_mou_6',
       'std_ic_t2f_mou_7', 'std_ic_t2f_mou_8', 'std_ic_t2o_mou_6',
       'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8', 'std_ic_mou_6',
       'std_ic_mou_7', 'std_ic_mou_8', 'total_ic_mou_6', 'total_ic_mou_7',
       'total_ic_mou_8', 'spl_ic_mou_6', 'spl_ic_mou_7', 'spl_ic_mou_8',
       'isd_ic_mou_6', 'isd_ic_mou_7', 'isd_ic_mou_8', 'ic_others_6',
       'ic_others_7', 'ic_others_8', 'total_rech_num_6',
       'total_rech_num_7', 'total_rech_num_8', 'total_rech_amt_6',
       'total_rech_amt_7', 'total_rech_amt_8', 'max_rech_amt_6',
       'max_rech_amt_7', 'max_rech_amt_8', 'date_of_last_rech_6',
       'date_of_last_rech_7', 'date_of_last_rech_8', 'last_day_rch_amt_6',
       'last_day_rch_amt_7', 'last_day_rch_amt_8', 'total_rech_data_6',
       'total_rech_data_7', 'total_rech_data_8', 'max_rech_data_6',
       'max_rech_data_7', 'max_rech_data_8', 'av_rech_amt_data_6',
       'av_rech_amt_data_7', 'av_rech_amt_data_8', 'vol_2g_mb_6',
       'vol_2g_mb_7', 'vol_2g_mb_8', 'vol_3g_mb_6', 'vol_3g_mb_7',
       'vol_3g_mb_8', 'night_pck_user_6', 'night_pck_user_7',
       'night_pck_user_8', 'monthly_2g_6', 'monthly_2g_7', 'monthly_2g_8',
       'sachet_2g_6', 'sachet_2g_7', 'sachet_2g_8', 'monthly_3g_6',
       'monthly_3g_7', 'monthly_3g_8', 'sachet_3g_6', 'sachet_3g_7',
       'sachet_3g_8', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'aon',
       'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g', 'churn',
       'avg_total_rech_amt'], dtype=object)