In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import io

churn = pd.read_csv('telecom_churn_data.csv')
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [3]:
temp = churn

In [4]:
#Assign churn column based on the usage done in 9th month
churn['churn'] = churn.apply(lambda x: 1 if (x['total_ic_mou_9'] == 0 and x['total_og_mou_9'] == 0 and x['vol_2g_mb_9'] == 0 and x['vol_3g_mb_9'] == 0) else 0, axis=1)
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,1
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,0
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,0
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [5]:
#drop last date columns as it is not giving any important data
churn.drop(columns=['last_date_of_month_6','last_date_of_month_7','last_date_of_month_8', 'last_date_of_month_9'], inplace=True)
churn.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,109,0.0,0.0,0.0,197.385,214.816,213.803,21.100,NaN,...,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,1
1,7001865778,109,0.0,0.0,0.0,34.047,355.074,268.321,86.285,24.11,...,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,0
2,7001625959,109,0.0,0.0,0.0,167.690,189.058,210.226,290.714,11.54,...,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,0
3,7001204172,109,0.0,0.0,0.0,221.338,251.102,508.054,389.500,99.91,...,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,109,0.0,0.0,0.0,261.636,309.876,238.174,163.426,50.31,...,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [6]:
churn.nunique()

mobile_number       99999
circle_id               1
loc_og_t2o_mou          1
std_og_t2o_mou          1
loc_ic_t2o_mou          1
arpu_6              85681
arpu_7              85308
arpu_8              83615
arpu_9              79937
onnet_mou_6         24313
onnet_mou_7         24336
onnet_mou_8         24089
onnet_mou_9         23565
offnet_mou_6        31140
offnet_mou_7        31023
offnet_mou_8        30908
offnet_mou_9        30077
roam_ic_mou_6        6512
roam_ic_mou_7        5230
roam_ic_mou_8        5315
roam_ic_mou_9        4827
roam_og_mou_6        8038
roam_og_mou_7        6639
roam_og_mou_8        6504
roam_og_mou_9        5882
loc_og_t2t_mou_6    13539
loc_og_t2t_mou_7    13411
loc_og_t2t_mou_8    13336
loc_og_t2t_mou_9    12949
loc_og_t2m_mou_6    20905
                    ...
night_pck_user_6        2
night_pck_user_7        2
night_pck_user_8        2
night_pck_user_9        2
monthly_2g_6            5
monthly_2g_7            6
monthly_2g_8            6
monthly_2g_9            5
sachet_2g_6            32
sachet_2g_7            35
sachet_2g_8            34
sachet_2g_9            32
monthly_3g_6           12
monthly_3g_7           15
monthly_3g_8           12
monthly_3g_9           11
sachet_3g_6            25
sachet_3g_7            27
sachet_3g_8            29
sachet_3g_9            27
fb_user_6               2
fb_user_7               2
fb_user_8               2
fb_user_9               2
aon                  3489
aug_vbc_3g          14676
jul_vbc_3g          14162
jun_vbc_3g          13312
sep_vbc_3g           3720
churn                   2
Length: 223, dtype: int64

In [7]:
#Deleting following columns as they have only 1 unique value, so not getting any information from these columns
churn.drop(columns=['circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou','loc_ic_t2o_mou'], inplace=True)
churn.head()

,mobile_number,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,197.385,214.816,213.803,21.100,NaN,NaN,0.00,NaN,NaN,...,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58,1
1,7001865778,34.047,355.074,268.321,86.285,24.11,78.68,7.68,18.34,15.74,...,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00,0
2,7001625959,167.690,189.058,210.226,290.714,11.54,55.24,37.26,74.81,143.33,...,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00,0
3,7001204172,221.338,251.102,508.054,389.500,99.91,54.39,310.98,241.71,123.31,...,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,261.636,309.876,238.174,163.426,50.31,149.44,83.89,58.78,76.96,...,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [8]:
#Delete the columns which ends with _9, as we dont need to analyze the last month data 
churn.drop(columns= [col for col in churn if col.endswith('_9')], inplace=True)
churn.head()

,mobile_number,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,...,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn
0,7000842753,197.385,214.816,213.803,NaN,NaN,0.00,NaN,NaN,0.00,...,0,1.0,1.0,1.0,968,30.4,0.0,101.20,3.58,1
1,7001865778,34.047,355.074,268.321,24.11,78.68,7.68,15.74,99.84,304.76,...,0,NaN,1.0,1.0,1006,0.0,0.0,0.00,0.00,0
2,7001625959,167.690,189.058,210.226,11.54,55.24,37.26,143.33,220.59,208.36,...,0,NaN,NaN,NaN,1103,0.0,0.0,4.17,0.00,0
3,7001204172,221.338,251.102,508.054,99.91,54.39,310.98,123.31,109.01,71.68,...,0,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00,0
4,7000142493,261.636,309.876,238.174,50.31,149.44,83.89,76.96,91.88,124.26,...,0,0.0,NaN,NaN,1526,0.0,0.0,0.00,0.00,0

In [9]:
#Impute the data 

churn['total_rech_data_6'].fillna(value = 0, inplace=True)
churn['total_rech_data_7'].fillna(value = 0, inplace=True)
churn['total_rech_data_8'].fillna(value = 0, inplace=True)

churn['av_rech_amt_data_6'].fillna(value = 0, inplace=True)
churn['av_rech_amt_data_7'].fillna(value = 0, inplace=True)
churn['av_rech_amt_data_8'].fillna(value = 0, inplace=True)


churn['max_rech_data_6'].fillna(value = 0, inplace=True)
churn['max_rech_data_7'].fillna(value = 0, inplace=True)
churn['max_rech_data_8'].fillna(value = 0, inplace=True)

#Impute the data 
churn['night_pck_user_6'].fillna(value = -1, inplace=True)
churn['night_pck_user_7'].fillna(value = -1, inplace=True)
churn['night_pck_user_8'].fillna(value = -1, inplace=True)

churn['fb_user_6'].fillna(value = -1, inplace=True)
churn['fb_user_7'].fillna(value = -1, inplace=True)
churn['fb_user_8'].fillna(value = -1, inplace=True)

In [10]:
churn['total_rech_data_amt_6'] = churn['total_rech_data_6'] * churn['av_rech_amt_data_6']
churn['total_rech_data_amt_7'] = churn['total_rech_data_7'] * churn['av_rech_amt_data_7']
churn['total_rech_data_amt_8'] = churn['total_rech_data_8'] * churn['av_rech_amt_data_8']

churn['avg_total_rech_amt'] = (churn['total_rech_amt_6'] + churn['total_rech_amt_7'] + churn['total_rech_data_amt_6'] + churn['total_rech_data_amt_7'])/2

In [11]:
#threshold value for the revenue is 70 percentile
threshold_val = churn.avg_total_rech_amt.quantile(0.7)
threshold_val

478.0

In [12]:
#filter data based on the threshold value
churn = churn.loc[churn.avg_total_rech_amt > threshold_val]
churn.shape

(29953, 170)

In [13]:
#This will help us to identify, how many values are missing in each columns
# also lets define the threshold 50%, if values are less than this
# we need to decide, if is it good feature to keep ?

temp = pd.DataFrame((churn.isnull().sum(axis=0)/churn.shape[0])*100)
temp = temp.reset_index()
temp.rename(columns={0:"count", "index":"colName"}, inplace=True)
temp1 = temp.loc[temp['count'] > 10]
temp1

                      colName      count
112  date_of_last_rech_data_6  44.112443
113  date_of_last_rech_data_7  43.117551
114  date_of_last_rech_data_8  46.799987
121           count_rech_2g_6  44.112443
122           count_rech_2g_7  43.117551
123           count_rech_2g_8  46.799987
124           count_rech_3g_6  44.112443
125           count_rech_3g_7  43.117551
126           count_rech_3g_8  46.799987
136                 arpu_3g_6  44.112443
137                 arpu_3g_7  43.117551
138                 arpu_3g_8  46.799987
139                 arpu_2g_6  44.112443
140                 arpu_2g_7  43.117551
141                 arpu_2g_8  46.799987

In [14]:
colList = temp1.colName.tolist()
churn.drop(columns=colList, inplace=True)
churn.head()

,mobile_number,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,...,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,churn,total_rech_data_amt_6,total_rech_data_amt_7,total_rech_data_amt_8,avg_total_rech_amt
0,7000842753,197.385,214.816,213.803,NaN,NaN,0.00,NaN,NaN,0.00,...,968,30.40,0.00,101.20,3.58,1,252.0,252.0,252.0,559.0
7,7000701601,1069.180,1349.850,3171.480,57.84,54.68,52.29,453.43,567.16,325.91,...,802,57.74,19.38,18.74,0.00,1,0.0,0.0,0.0,1185.0
8,7001524846,378.721,492.223,137.362,413.69,351.03,35.08,94.66,80.63,136.48,...,315,21.03,910.65,122.16,0.00,0,0.0,354.0,207.0,696.0
21,7002124215,514.453,597.753,637.760,102.41,132.11,85.14,757.93,896.68,983.39,...,720,0.00,0.00,0.00,0.00,0,0.0,0.0,0.0,640.0
23,7000887461,74.350,193.897,366.966,48.96,50.66,33.58,85.41,89.36,205.89,...,604,40.45,51.86,0.00,0.00,0,0.0,712.0,540.0,583.0

In [15]:
churn.nunique()

mobile_number            29953
arpu_6                   29029
arpu_7                   29040
arpu_8                   28035
onnet_mou_6              16872
onnet_mou_7              16973
onnet_mou_8              15854
offnet_mou_6             21198
offnet_mou_7             21233
offnet_mou_8             20140
roam_ic_mou_6             4045
roam_ic_mou_7             3381
roam_ic_mou_8             3431
roam_og_mou_6             4742
roam_og_mou_7             3988
roam_og_mou_8             3996
loc_og_t2t_mou_6         10416
loc_og_t2t_mou_7         10388
loc_og_t2t_mou_8         10056
loc_og_t2m_mou_6         15607
loc_og_t2m_mou_7         15659
loc_og_t2m_mou_8         15118
loc_og_t2f_mou_6          3089
loc_og_t2f_mou_7          3097
loc_og_t2f_mou_8          2988
loc_og_t2c_mou_6          1682
loc_og_t2c_mou_7          1763
loc_og_t2c_mou_8          1720
loc_og_mou_6             18334
loc_og_mou_7             18493
                         ...
vol_3g_mb_7              10830
vol_3g_mb_8              10110
night_pck_user_6             3
night_pck_user_7             3
night_pck_user_8             3
monthly_2g_6                 5
monthly_2g_7                 6
monthly_2g_8                 6
sachet_2g_6                 31
sachet_2g_7                 35
sachet_2g_8                 34
monthly_3g_6                12
monthly_3g_7                15
monthly_3g_8                12
sachet_3g_6                 25
sachet_3g_7                 27
sachet_3g_8                 29
fb_user_6                    3
fb_user_7                    3
fb_user_8                    3
aon                       3294
aug_vbc_3g                9835
jul_vbc_3g               10002
jun_vbc_3g                9283
sep_vbc_3g                2634
churn                        2
total_rech_data_amt_6     1642
total_rech_data_amt_7     1746
total_rech_data_amt_8     1619
avg_total_rech_amt        5182
Length: 155, dtype: int64

In [16]:
churn.monthly_3g_6.unique()

array([ 1,  0,  4,  2,  3,  5,  7,  6,  9,  8, 11, 14])

In [17]:
churn["churn"].head()

0     1
7     1
8     0
21    0
23    0
Name: churn, dtype: int64

In [18]:
# Doing categorical variable analysis for 'fb_user_6' column

fb_user_6_postive_one_rows = churn.loc[churn['fb_user_6'] == 1.0]

positive_one_churn_fraction = fb_user_6_postive_one_rows["churn"].sum()/fb_user_6_postive_one_rows["churn"].count()

churn.loc[churn['fb_user_6'] == 1.0, ['fb_user_6']] = positive_one_churn_fraction.round(5)

# churn['fb_user_6'].head(100)

In [19]:
fb_user_6_zero_rows = churn.loc[churn['fb_user_6'] == 0.0]

zero_churn_fraction = fb_user_6_zero_rows["churn"].sum()/fb_user_6_zero_rows["churn"].count()

churn.loc[churn['fb_user_6'] == 0.0, ['fb_user_6']] = zero_churn_fraction.round(5)

# churn['fb_user_6'].head(100)

In [20]:
fb_user_6_negative_one_rows = churn.loc[churn['fb_user_6'] == -1.0]

negative_one_churn_fraction = fb_user_6_negative_one_rows["churn"].sum()/fb_user_6_negative_one_rows["churn"].count()

churn.loc[churn['fb_user_6'] == -1.0, ['fb_user_6']] = negative_one_churn_fraction.round(5)

# churn['fb_user_6'].head(100)

In [21]:
# Doing categorical variable analysis for 'fb_user_7' column

fb_user_7_postive_one_rows = churn.loc[churn['fb_user_7'] == 1.0]

positive_one_churn_fraction = fb_user_7_postive_one_rows["churn"].sum()/fb_user_7_postive_one_rows["churn"].count()

churn.loc[churn['fb_user_7'] == 1.0, ['fb_user_7']] = positive_one_churn_fraction.round(5)

# churn['fb_user_7'].head(100)

In [22]:
fb_user_7_zero_rows = churn.loc[churn['fb_user_7'] == 0.0]

zero_churn_fraction = fb_user_7_zero_rows["churn"].sum()/fb_user_7_zero_rows["churn"].count()

churn.loc[churn['fb_user_7'] == 0.0, ['fb_user_7']] = zero_churn_fraction.round(5)

# churn['fb_user_7'].head(100)

In [23]:
fb_user_7_negative_one_rows = churn.loc[churn['fb_user_7'] == -1.0]

negative_one_churn_fraction = fb_user_7_negative_one_rows["churn"].sum()/fb_user_7_negative_one_rows["churn"].count()

churn.loc[churn['fb_user_7'] == -1.0, ['fb_user_7']] = negative_one_churn_fraction.round(5)

# churn['fb_user_7'].head(100)

In [24]:
# Doing categorical variable analysis for 'fb_user_8' column

fb_user_8_postive_one_rows = churn.loc[churn['fb_user_8'] == 1.0]

positive_one_churn_fraction = fb_user_8_postive_one_rows["churn"].sum()/fb_user_8_postive_one_rows["churn"].count()

churn.loc[churn['fb_user_8'] == 1.0, ['fb_user_8']] = positive_one_churn_fraction.round(5)

# churn['fb_user_8'].head(100)

In [25]:
fb_user_8_zero_rows = churn.loc[churn['fb_user_8'] == 0.0]

zero_churn_fraction = fb_user_8_zero_rows["churn"].sum()/fb_user_8_zero_rows["churn"].count()

churn.loc[churn['fb_user_8'] == 0.0, ['fb_user_8']] = zero_churn_fraction.round(5)

# churn['fb_user_8'].head(100)

In [26]:
fb_user_8_negative_one_rows = churn.loc[churn['fb_user_8'] == -1.0]

negative_one_churn_fraction = fb_user_8_negative_one_rows["churn"].sum()/fb_user_8_negative_one_rows["churn"].count()

churn.loc[churn['fb_user_8'] == -1.0, ['fb_user_8']] = negative_one_churn_fraction.round(5)

# churn['fb_user_8'].head(100)

In [27]:
# Doing categorical variable analysis for 'night_pck_user_6' column

night_pck_user_6_postive_one_rows = churn.loc[churn['night_pck_user_6'] == 1.0]

positive_one_churn_fraction = night_pck_user_6_postive_one_rows["churn"].sum()/night_pck_user_6_postive_one_rows["churn"].count()

churn.loc[churn['night_pck_user_6'] == 1.0, ['night_pck_user_6']] = positive_one_churn_fraction.round(5)

# churn['night_pck_user_6'].head(100)

0      0.00000
7     -1.00000
8     -1.00000
21    -1.00000
23    -1.00000
33     0.09337
38    -1.00000
41    -1.00000
48    -1.00000
53     0.00000
56     0.00000
57     0.00000
61     0.00000
67     0.00000
69    -1.00000
73    -1.00000
77    -1.00000
86     0.00000
87    -1.00000
91    -1.00000
92     0.00000
96    -1.00000
101    0.00000
102    0.00000
103   -1.00000
104    0.00000
105    0.00000
111    0.00000
115    0.00000
124    0.00000
        ...
265    0.00000
266   -1.00000
270    0.00000
274    0.00000
278    0.00000
281    0.00000
283    0.00000
284    0.00000
290   -1.00000
293   -1.00000
294    0.00000
295   -1.00000
301   -1.00000
304    0.00000
310   -1.00000
319    0.00000
320   -1.00000
321   -1.00000
322    0.00000
329   -1.00000
333   -1.00000
337    0.00000
339   -1.00000
345    0.00000
346    0.00000
349    0.00000
357    0.00000
358    0.00000
360   -1.00000
364   -1.00000
Name: night_pck_user_6, Length: 100, dtype: float64

In [28]:
night_pck_user_6_zero_rows = churn.loc[churn['night_pck_user_6'] == 0.0]

zero_churn_fraction = night_pck_user_6_zero_rows["churn"].sum()/night_pck_user_6_zero_rows["churn"].count()

churn.loc[churn['night_pck_user_6'] == 0.0, ['night_pck_user_6']] = zero_churn_fraction.round(5)

# churn['night_pck_user_6'].head(100)

0      0.06698
7     -1.00000
8     -1.00000
21    -1.00000
23    -1.00000
33     0.09337
38    -1.00000
41    -1.00000
48    -1.00000
53     0.06698
56     0.06698
57     0.06698
61     0.06698
67     0.06698
69    -1.00000
73    -1.00000
77    -1.00000
86     0.06698
87    -1.00000
91    -1.00000
92     0.06698
96    -1.00000
101    0.06698
102    0.06698
103   -1.00000
104    0.06698
105    0.06698
111    0.06698
115    0.06698
124    0.06698
        ...
265    0.06698
266   -1.00000
270    0.06698
274    0.06698
278    0.06698
281    0.06698
283    0.06698
284    0.06698
290   -1.00000
293   -1.00000
294    0.06698
295   -1.00000
301   -1.00000
304    0.06698
310   -1.00000
319    0.06698
320   -1.00000
321   -1.00000
322    0.06698
329   -1.00000
333   -1.00000
337    0.06698
339   -1.00000
345    0.06698
346    0.06698
349    0.06698
357    0.06698
358    0.06698
360   -1.00000
364   -1.00000
Name: night_pck_user_6, Length: 100, dtype: float64

In [29]:
night_pck_user_6_negative_one_rows = churn.loc[churn['night_pck_user_6'] == -1.0]

negative_one_churn_fraction = night_pck_user_6_negative_one_rows["churn"].sum()/night_pck_user_6_negative_one_rows["churn"].count()

churn.loc[churn['night_pck_user_6'] == -1.0, ['night_pck_user_6']] = negative_one_churn_fraction.round(5)

# churn['night_pck_user_6'].head(100)

0      0.06698
7      0.09846
8      0.09846
21     0.09846
23     0.09846
33     0.09337
38     0.09846
41     0.09846
48     0.09846
53     0.06698
56     0.06698
57     0.06698
61     0.06698
67     0.06698
69     0.09846
73     0.09846
77     0.09846
86     0.06698
87     0.09846
91     0.09846
92     0.06698
96     0.09846
101    0.06698
102    0.06698
103    0.09846
104    0.06698
105    0.06698
111    0.06698
115    0.06698
124    0.06698
        ...
265    0.06698
266    0.09846
270    0.06698
274    0.06698
278    0.06698
281    0.06698
283    0.06698
284    0.06698
290    0.09846
293    0.09846
294    0.06698
295    0.09846
301    0.09846
304    0.06698
310    0.09846
319    0.06698
320    0.09846
321    0.09846
322    0.06698
329    0.09846
333    0.09846
337    0.06698
339    0.09846
345    0.06698
346    0.06698
349    0.06698
357    0.06698
358    0.06698
360    0.09846
364    0.09846
Name: night_pck_user_6, Length: 100, dtype: float64

In [30]:
# Doing categorical variable analysis for 'night_pck_user_7' column

night_pck_user_7_postive_one_rows = churn.loc[churn['night_pck_user_7'] == 1.0]

positive_one_churn_fraction = night_pck_user_7_postive_one_rows["churn"].sum()/night_pck_user_7_postive_one_rows["churn"].count()

churn.loc[churn['night_pck_user_7'] == 1.0, ['night_pck_user_7']] = positive_one_churn_fraction.round(5)

# churn['night_pck_user_7'].head(100)

0      0.00000
7     -1.00000
8      0.00000
21    -1.00000
23     0.00000
33     0.06133
38    -1.00000
41    -1.00000
48    -1.00000
53     0.00000
56     0.00000
57     0.00000
61     0.00000
67     0.00000
69    -1.00000
73     0.00000
77     0.00000
86    -1.00000
87     0.00000
91     0.00000
92     0.00000
96    -1.00000
101    0.00000
102    0.00000
103   -1.00000
104    0.00000
105    0.00000
111   -1.00000
115   -1.00000
124    0.00000
        ...
265    0.00000
266    0.00000
270    0.00000
274    0.00000
278    0.00000
281   -1.00000
283   -1.00000
284    0.00000
290   -1.00000
293    0.00000
294    0.00000
295   -1.00000
301   -1.00000
304    0.00000
310   -1.00000
319    0.00000
320   -1.00000
321    0.00000
322    0.00000
329    0.00000
333   -1.00000
337    0.00000
339   -1.00000
345    0.00000
346    0.00000
349    0.00000
357    0.00000
358    0.00000
360   -1.00000
364    0.00000
Name: night_pck_user_7, Length: 100, dtype: float64

In [31]:
night_pck_user_7_zero_rows = churn.loc[churn['night_pck_user_7'] == 0.0]

zero_churn_fraction = night_pck_user_7_zero_rows["churn"].sum()/night_pck_user_7_zero_rows["churn"].count()

churn.loc[churn['night_pck_user_7'] == 0.0, ['night_pck_user_7']] = zero_churn_fraction.round(5)

# churn['night_pck_user_7'].head(100)

0      0.05587
7     -1.00000
8      0.05587
21    -1.00000
23     0.05587
33     0.06133
38    -1.00000
41    -1.00000
48    -1.00000
53     0.05587
56     0.05587
57     0.05587
61     0.05587
67     0.05587
69    -1.00000
73     0.05587
77     0.05587
86    -1.00000
87     0.05587
91     0.05587
92     0.05587
96    -1.00000
101    0.05587
102    0.05587
103   -1.00000
104    0.05587
105    0.05587
111   -1.00000
115   -1.00000
124    0.05587
        ...
265    0.05587
266    0.05587
270    0.05587
274    0.05587
278    0.05587
281   -1.00000
283   -1.00000
284    0.05587
290   -1.00000
293    0.05587
294    0.05587
295   -1.00000
301   -1.00000
304    0.05587
310   -1.00000
319    0.05587
320   -1.00000
321    0.05587
322    0.05587
329    0.05587
333   -1.00000
337    0.05587
339   -1.00000
345    0.05587
346    0.05587
349    0.05587
357    0.05587
358    0.05587
360   -1.00000
364    0.05587
Name: night_pck_user_7, Length: 100, dtype: float64

In [32]:
night_pck_user_7_negative_one_rows = churn.loc[churn['night_pck_user_7'] == -1.0]

negative_one_churn_fraction = night_pck_user_7_negative_one_rows["churn"].sum()/night_pck_user_7_negative_one_rows["churn"].count()

churn.loc[churn['night_pck_user_7'] == -1.0, ['night_pck_user_7']] = negative_one_churn_fraction.round(5)

# churn['night_pck_user_7'].head(1000)

0       0.05587
7       0.11452
8       0.05587
21      0.11452
23      0.05587
33      0.06133
38      0.11452
41      0.11452
48      0.11452
53      0.05587
56      0.05587
57      0.05587
61      0.05587
67      0.05587
69      0.11452
73      0.05587
77      0.05587
86      0.11452
87      0.05587
91      0.05587
92      0.05587
96      0.11452
101     0.05587
102     0.05587
103     0.11452
104     0.05587
105     0.05587
111     0.11452
115     0.11452
124     0.05587
         ...
3196    0.11452
3197    0.11452
3201    0.05587
3202    0.11452
3205    0.11452
3212    0.05587
3216    0.11452
3220    0.05587
3221    0.05587
3222    0.05587
3223    0.05587
3225    0.11452
3227    0.05587
3230    0.05587
3232    0.05587
3233    0.05587
3238    0.11452
3240    0.11452
3242    0.05587
3243    0.05587
3245    0.05587
3248    0.11452
3253    0.11452
3263    0.05587
3264    0.05587
3265    0.11452
3269    0.11452
3270    0.05587
3271    0.05587
3280    0.11452
Name: night_pck_user_7, Length: 1000, dtype: float64

In [33]:
# Doing categorical variable analysis for 'night_pck_user_8' column

night_pck_user_8_postive_one_rows = churn.loc[churn['night_pck_user_8'] == 1.0]

positive_one_churn_fraction = night_pck_user_8_postive_one_rows["churn"].sum()/night_pck_user_8_postive_one_rows["churn"].count()

churn.loc[churn['night_pck_user_8'] == 1.0, ['night_pck_user_8']] = positive_one_churn_fraction.round(5)

# churn['night_pck_user_8'].head(1000)

0       0.0
7      -1.0
8       0.0
21     -1.0
23      0.0
33      0.0
38     -1.0
41     -1.0
48     -1.0
53      0.0
56      0.0
57      0.0
61      0.0
67     -1.0
69     -1.0
73     -1.0
77     -1.0
86     -1.0
87      0.0
91      0.0
92      0.0
96     -1.0
101     0.0
102     0.0
103    -1.0
104     0.0
105     0.0
111    -1.0
115     0.0
124    -1.0
       ...
3196   -1.0
3197    0.0
3201    0.0
3202   -1.0
3205    0.0
3212    0.0
3216   -1.0
3220    0.0
3221   -1.0
3222    0.0
3223    0.0
3225   -1.0
3227    0.0
3230    0.0
3232    0.0
3233    0.0
3238   -1.0
3240   -1.0
3242    0.0
3243    0.0
3245    0.0
3248   -1.0
3253   -1.0
3263    0.0
3264    0.0
3265    0.0
3269    0.0
3270    0.0
3271    0.0
3280    0.0
Name: night_pck_user_8, Length: 1000, dtype: float64

In [34]:
night_pck_user_8_zero_rows = churn.loc[churn['night_pck_user_8'] == 0.0]

zero_churn_fraction = night_pck_user_8_zero_rows["churn"].sum()/night_pck_user_8_zero_rows["churn"].count()

churn.loc[churn['night_pck_user_8'] == 0.0, ['night_pck_user_8']] = zero_churn_fraction.round(5)

# churn['night_pck_user_8'].head(1000)

0       0.02886
7      -1.00000
8       0.02886
21     -1.00000
23      0.02886
33      0.02886
38     -1.00000
41     -1.00000
48     -1.00000
53      0.02886
56      0.02886
57      0.02886
61      0.02886
67     -1.00000
69     -1.00000
73     -1.00000
77     -1.00000
86     -1.00000
87      0.02886
91      0.02886
92      0.02886
96     -1.00000
101     0.02886
102     0.02886
103    -1.00000
104     0.02886
105     0.02886
111    -1.00000
115     0.02886
124    -1.00000
         ...
3196   -1.00000
3197    0.02886
3201    0.02886
3202   -1.00000
3205    0.02886
3212    0.02886
3216   -1.00000
3220    0.02886
3221   -1.00000
3222    0.02886
3223    0.02886
3225   -1.00000
3227    0.02886
3230    0.02886
3232    0.02886
3233    0.02886
3238   -1.00000
3240   -1.00000
3242    0.02886
3243    0.02886
3245    0.02886
3248   -1.00000
3253   -1.00000
3263    0.02886
3264    0.02886
3265    0.02886
3269    0.02886
3270    0.02886
3271    0.02886
3280    0.02886
Name: night_pck_user_8, Length: 1000, dtype: float64

In [35]:
night_pck_user_8_negative_one_rows = churn.loc[churn['night_pck_user_8'] == -1.0]

negative_one_churn_fraction = night_pck_user_8_negative_one_rows["churn"].sum()/night_pck_user_8_negative_one_rows["churn"].count()

churn.loc[churn['night_pck_user_8'] == -1.0, ['night_pck_user_8']] = negative_one_churn_fraction.round(5)

#churn['night_pck_user_8'].head(1000)

0       0.02886
7       0.14082
8       0.02886
21      0.14082
23      0.02886
33      0.02886
38      0.14082
41      0.14082
48      0.14082
53      0.02886
56      0.02886
57      0.02886
61      0.02886
67      0.14082
69      0.14082
73      0.14082
77      0.14082
86      0.14082
87      0.02886
91      0.02886
92      0.02886
96      0.14082
101     0.02886
102     0.02886
103     0.14082
104     0.02886
105     0.02886
111     0.14082
115     0.02886
124     0.14082
         ...
3196    0.14082
3197    0.02886
3201    0.02886
3202    0.14082
3205    0.02886
3212    0.02886
3216    0.14082
3220    0.02886
3221    0.14082
3222    0.02886
3223    0.02886
3225    0.14082
3227    0.02886
3230    0.02886
3232    0.02886
3233    0.02886
3238    0.14082
3240    0.14082
3242    0.02886
3243    0.02886
3245    0.02886
3248    0.14082
3253    0.14082
3263    0.02886
3264    0.02886
3265    0.02886
3269    0.02886
3270    0.02886
3271    0.02886
3280    0.02886
Name: night_pck_user_8, Length: 1000, dtype: float64